body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ヘッダー固定 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #225588;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* ヘッダーを最前面に */
}

/* 名前検索テキストインプット */
.search-input {
    flex-grow: 1;
    margin: 0 20px;
    text-align: center;
}

.search-input input {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* 戻るボタン */
.back-button {
    padding-right: 50px;
    width: 100px;
}

.back-button button {
    background-color: #df4e4e;
    border: none;
    width: 100%;
    border-radius: 15%;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

/* テーブルスタイル */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 120px; /* ヘッダーの高さ分のスペースを確保 */
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

table th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc, #225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 33.3%;
    padding: 15px 0;
    font-size: 18px;
}

table td {
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 33.3%;
    padding: 15px 0;
    font-size: 18px;
}

table td:last-child {
    border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

a {
    color: #225588;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-title h1 {
    text-align: center;
}
